{% extends 'main_new.html' %}

{% load batch %}
{% load static %}
{% block head %}
    
    {% if indexing %}<meta name="robots" content="noindex">{% endif %}

    {% if meta_title != "" %}<meta name = "title" content = "{{meta_title}}" /> <title> {{ meta_title }} </title> {% endif %}
    {% if meta_title == "" %}<meta name = "title" content = "{{ publisher.name }}" /> <title> {{ publisher.name }} </title> {% endif %}
    {% if meta_description != "" %}<meta name = "description" content = "{{meta_description}}" /> {% endif %}
{% endblock %}

{% block main_content %}
    {% load image_absolute_url %}
    {% load translate %}
    {% load post_url %}

    <!-- todo add your html code here -->
    <script> 
        $(function(){
          $("#includedContent").load("Home.html"); 
        });
        </script> 
    <script src="jquery-3.6.1.min.js"></script>
{% endblock %}
